# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Are either Integers or Floating point numbers, which can be used for arithmatic operations. Can be printed as s% and %n1.n2f. Floating ex: 2E4, 1.2

Strings: Are sequence of characters which are immutable. Have some inbuilt methods. Have specific indexing on the elements of the string, which can be fetched with index. s='super'

Lists: Are a list of ordered elements\objects and unlike strings these are not immmutable, the elements can be replaced, removed or added. Elements can be fetched based on indexes and also replaced. Nesting of lists is allowed. There are several methods assocaited to lists. represented as l=[1,2,3,4,5]

Tuples:Are similar to lists but are immutable, used in cases where elements should not be changed, like calendar dates. Represented as t=(1,2,3,4,5).
Can also be nested, and accessed via indexes.Have few meathods.

Dictionaries: Are unordered collection of Key value\object\element pairs, similar to Hash Table. Every value\object\element is associated with a unique key value. Value can be access using key value eg: d['key1']
Can be nested and have methods. Also allow methods on any object used in the dictionaries. eg: d={1,[2,3], {'hello', 1, [2,3]}}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [11]:
100+(4*2)+(25.0/100)-2**3

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [31]:
from __future__ import division
2/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)= 44
    
    What is the value of the expression 4 * 6 + 5 =29
    
    What is the value of the expression 4 + 6 * 5 =34

In [ ]:
44, 29, 34

What is the *type* of the result of the expression 3 + 1.5 + 4? Floating

x=2

What would you use to find a numberâ€™s square root, as well as its square? x**(1/2), x**2

In [29]:
x=2
x**2, x**(1.00/2)

(4, 1.4142135623730951)

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [27]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [44]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [25]:
s ='hello'

# Print out the

# Code here
s[4], s[-1]

('o', 'o')

## Lists

Build this list [0,0,0] two separate ways.

In [69]:
l=[0,0,0]
print l
a=[0]
a=a+a*2
print a
print b

[0, 0, 0]
[0, 0, 0]
None

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [55]:
l = [1,2,[3,4,'hello']]
l[2][2]='goodbye'
print l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [56]:
l = [5,3,4,6,1]
l.sort()
print l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [70]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [71]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [80]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?

We can, as it a set of Keys and Values. Should be able to sort weith on number or alpha numeric using ascii

## Tuples

What is the major difference between tuples and lists? unmutable\mutable

Mutable and unmutable

How do you create a tuple?

## t=(1,2)

## Sets

What is unique about a set?

Holds unique elements only

Use a set to find the unique values of the list below:

In [81]:
l = [1,2,2,33,4,4,11,22,3,3,2]
x=set(l)
print x

set([1, 2, 3, 4, 33, 11, 22])

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [82]:
# Answer before running cell false
2 > 3

False

In [83]:
# Answer before running cell false
3 <= 2

False

In [84]:
# Answer before running cell false
3 == 2.0

False

In [85]:
# Answer before running cell true
3.0 == 3

True

In [86]:
# Answer before running cell false
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [87]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False? 3>=4 false
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!